.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    position: relative;
}

.cabecalho .logo-linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2%;
    height: 100%;
}

.cabecalho .logo-linha img {
    height: 4.8rem;
    margin-left: 6.4rem;
}

.cabecalho .logo-linha .linha-cabecalho {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.50);
    margin-left: 6.4rem;
    height: 1px;
    width: 30%;
    position: absolute;
    top: 65%;
    left: 18%;
}

.cabecalho .navegacao-cabecalho {
    align-self: self-end;
    background-color: rgba(255, 255, 255, 0.10);
    height: 8rem;
    width: 50vw;
}

.navegacao-cabecalho input {
    display: none;
}

.cabecalho .navegacao-cabecalho #menu-hamburguer {
    display: none;
}

.cabecalho .navegacao-cabecalho .lista-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px 0 159px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.cabecalho .navegacao-cabecalho .item-lista-cabecalho {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 50%);
    margin: 0 4.8rem;
    font-family: "Barlow", sans-serif;
}

.cabecalho .navegacao-cabecalho .item-lista-cabecalho:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 100%);
    transform: scale(120%);
}

.cabecalho .navegacao-cabecalho .item-lista-cabecalho a {
    display: flex;
}

.cabecalho .navegacao-cabecalho .item-lista-cabecalho .numero-secao-cabecalho {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 5px;
}

.cabecalho .navegacao-cabecalho .item-lista-cabecalho .titulo-secao-cabecalho {
    display: block;
    font-size: 1.3rem;
}

.painel-principal {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 85vh;
}

.painel-principal .container1-painel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 0 10rem 10rem 10rem;
}

.painel-principal .container1-painel .sub-titulo-painel {
    font-size: 2.8vh;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
}

.painel-principal .container1-painel .titulo-painel {
    font-size: 18.4vh;
    font-family: "Bellefair", sans-serif;
    color: white;
    margin: 1.5rem 0;
}

.painel-principal .container1-painel .texto-painel {
    font-size: 2.5vh;
    font-family: "Barlow", sans-serif;
    color: white;
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.painel-principal .container2-painel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
}

.painel-principal .container2-painel .btn-explore {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border:none;
    color: rgb(0, 0, 0,70%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: "Bellefair", sans-serif;
    transition: 0.3s ease-in-out;
    height: 27.2rem;
    width: 27.2rem;
}


.painel-principal .container2-painel .btn-explore:hover{
    outline: 80px solid rgb(255, 255, 255,20%);
    border-radius: 50%;
    display: block;
    align-self: center;
}

/* Pagina destination */


.main-destination .sub-titulo-moon {
    height: 10vh;
    margin: 0 16.5rem;
    display: flex;
    align-items: center;
}

.main-destination .sub-titulo-moon h3 {
    font-size: 2.8rem;
    font-weight: 300;
    font-family: "Barlow", sans-serif;
}

.main-destination .sub-titulo-moon h3 span {
    opacity: 50%;
}

.main-destination .conteudo-destination {
    margin: 0 16.5rem;
    height: 75vh;
    display: flex;
    align-items: flex-start;
}

.main-destination .conteudo-destination .container1-destination {
    display: flex;
    align-items: center;
}

.main-destination .conteudo-destination .container1-destination img {
    height: 48rem;
    width: 48rem;
}

.main-destination .conteudo-destination .container2-destination {
    padding: 30px 47px;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}

.main-destination .conteudo-destination .container2-destination .lista-destination {
    height: 30px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-family: "Barlow", sans-serif;  
}
.main-destination .conteudo-destination .container2-destination .lista-destination .items-lista-destination {
   margin-right: 32px;
   border-bottom: 2px solid rgb(255, 255, 255);
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.main-destination .conteudo-destination .container2-destination .titulo-planeta {
    font-size: 11rem;
    font-family: "Bellefair", sans-serif;
    height: 15rem;
    padding: 5px;
    width: 100%;
    margin-top: px;
    text-align: start;
}

.main-destination .conteudo-destination .container2-destination .texto-planeta {
    font-family: "Barlow", sans-serif;
    font-size: 1.8rem;
    height: 15rem;
    width: 80%;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 50%);
    text-align: start;
}

.main-destination .conteudo-destination .container2-destination .informacoes-destination {
    height: auto;
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    text-transform: uppercase;

}

.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-distancia {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}

.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-distancia .distancia {
    font-size: 1.4rem;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
}

.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-distancia .conteudo-distancia {
    font-size: 2.8rem;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
}
.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-tempo {

    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-tempo .tempo {
    font-size: 1.4rem;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
}

.main-destination .conteudo-destination .container2-destination .informacoes-destination .informacoes-tempo .conteudo-tempo {
    font-size: 2.8rem;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
}

